# DB_URL Format
# postgresql://<username>:<password>@<host>:<port>/<database>?search_path=public&sslmode=disable

DB_URL="YourDatabaseURLHere"
JWT_SECRET="YourJWTSecretHere"
GMAIL_EMAIL="YourGmailEmailHere"
GMAIL_APP_PASSWORD="YourGmailAppPasswordHere"
