# DB_URL Format
# postgresql://<username>:<password>@<host>:<port>/<database>?search_path=public&sslmode=disable

DB_URL="YourDatabaseURLHere"
BASE_IMAGE_URL=

JWT_SECRET=YourJWTSecretHere
GMAIL_EMAIL=YourGmailEmailHere
GMAIL_APP_PASSWORD=YourGmailAppPasswordHere
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
GOOGLE_REDIRECT_URL=